body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 0.8em;
}

a#toDrag,
div#toDrag,
#dropTarget {
  border: solid 1px blue;
  background: white;
  padding: 1em;
  display: block;
  color: #000099;
  position: relative;
}

code {
  font-size: 1.3em;
}

img#toDrag {
  border: none;
}

a#toDrag,
div#toDrag {
  background-color: red;
}

#dropTarget {
  background-color: #b42530;
  color: white;
  width: 200px;
  height: 200px;
  float: left;
}

.caption {
  text-align: center;
  margin-top: 0.3em;
}

#toDrag,
#dropTarget,
fieldset {
}

#eventLog {
  top: 13em;
  left: 18em;
  position: absolute;
}

#eventNotice {
  display: block;
  overflow: scroll;
  width: 41em;
  height: 15em;
  border: solid 1px black;
  margin-bottom: 2em;
}

iframe {
  height: 20em;
}

img {
  width: 100px;
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: no-drag;
}

#boxA {
  background-color: #0e2e5b;
  color: white;
  width: 140px;
  opacity: 1 !important;
  height: 140px;
}

#boxA,
#boxB {
  float: left;
  padding: 10px;
  margin: 10px;
  -moz-user-select: none;
}
